<!DOCTYPE html>
<html>
    <head>
        <title>Todo Lists</title>
    </head>
    <body>
        <main>
            <div>
                <! -- todo_list_detail from views, items from foreign key in model  --!>
                <h1>{{ todo_list_detail }}</h1>
                <p>                                    <! taken from context of todo_list_detail function in views>
                    <a href="{% url 'todo_list_update' todo_list_detail.id %}">Edit</a>
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
                </p>
                <h2>Tasks</h2>
                <table>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                    {% for todo in todo_list_detail.items.all %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' todo_list_detail.id %}">{{ todo.task }}</a></td>
                            <td>{{ todo.due_date|date:"M n, Y" }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </main>
    </body>
</html>
